/*General colors*/
$color-grey-very-light: #e1e4ea;
$color-grey-super-light: #f4f6fc;
$color-grey-super-ultra-light: #f9fbff;
$color-grey-light: #5f6467;
$color-grey-normal: #000000;
$color-blue-ultra-light: #f5f8fd;
$color-blue-very-light: #eaf0fd;
$color-blue-light: #d2e0ff;
$color-blue-mid: #ccd7f1;
$color-blue-normal: #1b6bf8;
$color-red-very-light: #FF0000;
$color-red-light: #b81111;
$color-red-normal: #e10c0c;
$color-yellow-very-light: #fffae6;
$color-yellow-light: #ffefad;
$color-yellow-normal: #ffcf11;
$color-green-very-light: #008000;
$color-green-light: #008000;
$color-green-normal: #33dfc8;
$color-purple-very-light: #efecff;
$color-purple-light: #ccc2ff;
$color-purple-normal: #705bfe;
$color-white-very-light: #ffffff;
$color-white-light: #f3f3f3;
$color-white-normal: #e4e4e4;
$color-blue-classroomexample: #00ffee;
$color-default: $color-grey-normal;